/* Market card data*/
#market-data-card {
  font-size: 3.25vmin;
}

#market-data-card .col-20{
  font-weight: bold;
}

#market-data-card .col-20:last-of-type{
  text-align: right;
}

#market-data-card .last-trade {
  font-size: 3vmin;
  float: right;
}
/* Stock Subheader bar*/

#stock-subheader-bar {
  border-top: none;
}

#stock-name {
  color: #333;
  float: left;
  font-size: 3.5vmin;
  font-weight: normal;
  margin: auto 0;
  max-width: 33vw;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
}

#stock-price {
  font-size: 7vmin;
  line-height: 32pt;
}

#stock-change {
  font-size: 4vmin;
  font-weight: bolder;
  float: right;
  line-height: 12pt;
  margin: auto 0;
}

/* short button bar*/
#short-button-bar .button {
  line-height: normal;
  min-height: 10px;
  border: none;
  border-radius: 0;
  font-size: 9pt;
  background-color: #fff;
}

#short-button-bar .button.active {
  font-weight: bold;
}

#short-button-bar {
  -webkit-box-shadow: 0px 0px 0px 1px #ddd;
}

/* Helper Style */
.display-flex {
  display: flex !important;
}

.no-margin {
  margin: 0 !important;
}
